doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title GitlabCiSetup
    = csrf_meta_tags
    = csp_meta_tag
    meta[name="turbolinks-cache-control" content="no-cache"]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = yield